@mixin module-gallery {
	/* Gallery */
	.gallery-list {
		position: relative;
		float: left;
		padding: 0;
		margin: 0 0 -10px 0;
		width: 100%;
		li {
			display: block;
			padding: 0 5px;
			margin: 0 0 10px 0;
			list-style: none;
			min-height: 400px;
			position: relative;
			overflow: hidden;
			@include border-radius(7px);

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: 7px;
				position: absolute;
				top: 0;
				left: 0;
			}
			a {
				min-height: 400px;
				padding: 2em;
				position: relative;
				width: 100%;
				display: block;
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					content: "";
					z-index: 80;
					@include transition(.5s);
					@include border-radius(7px);
					background: rgba($brand-black, .2);
				}
				&:hover {
					.gallery-item_info{
						span,
						h3 {
							transform: translateY(0);
							opacity: 1;
						}
					}
					&:before {
						background: rgba($brand-black, .5);
					}
				}
			}
		}
		.gallery-item_info {
			width: auto;
			bottom: 1em;
			left: 1em;
			right: 1em;
			position: absolute;
			z-index: 100;
			@include media(small) {
				bottom: 2em;
				left: 2em;
				right: 2em;
			}
			span {
				text-transform: uppercase;
				letter-spacing: 2px;
				font-size: 13px;
				color: rgba($brand-white,.7);
				display: block;
				transform: translateY(100%);
				transition: all 0.5s ease;
				opacity: 0;
			}
			h3 {
				color: $brand-white;
				margin-bottom: 0;
				transform: translateY(-30%);
				transition: all 0.5s ease;
				font-size: 20px;
			}
		}
	}
}